[user]
    name = Gedeon Isezerano
    email = GedeonIsezerano@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    editor = nvim

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph
